[Desktop Entry]
Version=1.0
Name=bitsend Core
Comment=Connect to the bitsend P2P Network
Comment[de]=Verbinde mit dem bitsend peer-to-peer Netzwerk
Comment[fr]=bitsend, monnaie virtuelle cryptographique pair à pair
Comment[tr]=bitsend, eşten eşe kriptografik sanal para birimi
Exec=bitsend-qt %u
Terminal=false
Type=Application
Icon=bitsend128
MimeType=x-scheme-handler/bitsend;
Categories=Office;Finance;
StartupWMClass=bitsend-qt
