[Desktop Entry]
Encoding=UTF-8
Name=Bitsend
Comment=Bitsend P2P Cryptocurrency
Exec=bitsend-qt %u
Terminal=false
Type=Application
Icon=bitsend128
MimeType=x-scheme-handler/bitsend;
Categories=Office;Finance;
Name[en_US]=bitsend-qt.desktop
