*.tar.gz

*.exe
src/bitsend
src/bitsendd
src/bitsend-cli
src/test/test_bitsend
src/qt/test/test_bitsend-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/bitsend-config.h
src/bitsend-config.h.in
src/build-aux/
src/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
.bitsend
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
bitsend-qt
Bitsend-Qt.app

# Unit-tests
Makefile.test
bitsend-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user
darkcoi*.config
*.creator
*.creator.user
darkcoi*.files
darkcoi*.includes

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_bitsend.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitsendd-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile

.cproject
.project
*.db
*.db
*.db
